body{
	 background-color: #584E4E;
}
.d1{
	height: 400px;
	overflow: hidden;
	background-color: lightsalmon;
}
.d2{
	height: 400px;
	overflow: hidden;
	background-color: skyblue;
}
.interieur1{
	width: 50%;
	height: 400px;
	justify-content: center;
	text-align: center;
}
.interieur2{
	width: 50%;
	justify-content: center;
	text-align: center;
	height: 400px;
}
.colle{
	display: flex;
	justify-content: stretch;
}
h1, h3{
	color: #FFF;
}
h1{
	justify-content: center;
	text-align: center;
	padding-top: 2%;
	font-size: 70px;
}
h3{
	text-align: center;
}
iframe{
	overflow-y: hidden;
	width: 110%	;
	height: 330px;
	padding: 2em 6em 2em 0;
	float: left	;
}
.hover :hover{
    background-color: skyblue;
    text-decoration: none;

}
.test{
	margin: 1em  1.5em;
	padding: 3px;
	border: 2px solid black;
	text-decoration: none;
	background-color: deepskyblue;
	width: 100px;
	border-radius: 10px;
}
.space{
	width: 100%;
	height: 250px;
	background-image:url("https://img.freepik.com/vecteurs-libre/fond-geometrique-bleu_1409-961.jpg?size=626&ext=jpg");
	background-size: 100%;
	background-repeat: no-repeat;

}
