.grid-container {
  display: grid;
  grid-template-columns:  30% 30% 30% minmax(500px, 1fr);
  padding: 40px;
    grid-column-gap: 5%;

}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  font-size: 16px;
  text-align: ;
}
.text {justify-content: start;
}
h1{
  text-align: center;
  font-size: 45px;
}
h4{
  font-size: 25px ;
  text-align: center;
  font-weight: bolder;
}
p{
  font-size: 25px;  
}
ul{
  justify-content: left;
}
.pages{
  text-decoration: none;
  margin: 1em  1.5em;
  padding: 1px;
  border: 2px solid black;
  display: block;
  text-decoration: none;
  background-color: #cccccc ;
  margin-left: auto ;
}
.hover :hover{
    background-color: skyblue;

}