body{
	background-color: ;
}
header{
	margin: 30px 2em 10px 2em;
	border: 1px solid black;
	border-radius: 10px;
	height: 150px;
	background-color: skyblue;
	text-align: center;
}
footer{
	clear: both;
	height: 120px;
	margin: 10px 2em 10px 2em;
	border: 1px solid black;
	background-color: skyblue;

}

h1{
	font-size: 3.4rem;	
	font-family: cursive;
}
.Menu{	
	float: left;
	border: 1px solid black;
	height: 550px;
	width: 20%;
	margin: 1.5em 0px 2em 2em;
	background-color: ;
}

h4{
	margin-bottom: 1em;
	text-align: center;
	font-size: 30px;
}
li{

	list-style-type: none;
	border: 2px solid black;
	width: 85%;
	margin-bottom: 1em;
	box-shadow: 5px 5px 5px black;
	text-align: center;
	background-color:  ;
}

a{
		text-decoration: none;
}	
.main{
	width: 74%;
	border: 1px solid black;
	margin: 1.5em 2em 2em 0px;
	height: 550px;
	float: right;
}

.frame{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

nav li {

	width: 100px;
	height: 40px;
	border: 2px solid black;
	margin: 0px 0px 15px 4.6em;
	line-height: 40px;


}
nav li a{
	display: block;
	text-decoration: none;
	background-color: cadetblue	;
	color: floralwhite;
}
.submenu
{
    display: none;
}

nav ul > li:hover .submenu 
{
    display: inline-block;
    position: absolute;
}

nav > ul > li::after
{  
	clear: both;
    content: "";
    display: table;
   
}
.submenu li a 
{
    padding: 15px 32px; 
    font-size: 13px;
    color: #FFF;
    position: absolute;
    left: -24px;
    top: -5px;
}
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	left: 0px;
	padding: 0px;
}
.submenu li{
	border-bottom: 1px solid #CCC;
}
.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
  }
.menu-projet:hover{
	border-top: 5px solid #e44d26;
	background-color: RGBa(000,112,192,0.15);
}
.menu-veille:hover{
	border-top: 5px solid #0070bb;
	background-color: RGBa(000,112,192,0.15);
}